nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    width: 100%;
    background-color: black;
    color: white;
}

nav h3 {
    margin-left: 20%;
}

nav ul {
    margin-right: 20%;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px 0;
    gap: 16px;
}

.todo .card-wrapper {
    border: 1px solid black;
    width: 300px;
    padding: 8px 1px 2px 1px;
}

.todo .card-wrapper h3 {
    text-align: center;
}

.todo .todo-item {
    border: 1px solid black;
    padding: 16px 24px 2px 24px;
    margin-bottom: 2px;
}

.todo .todo-item h3 {
    padding-bottom: 8px;
}

.todo .button-wrapper {
    margin: 4px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.todo .button-wrapper button {
    padding: 4px;
    cursor: pointer;
}

.btn-edit {
    background-color: yellow;
}

.btn-delete {
    background-color: red;
}

.btn-done {
    background-color: green;
}

.floating-btn * {
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 60px;
    right: 30px;
    bottom: 90px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
    width: 100%;
}